<header>
  <nav class="header">
    <div class="logo"><i class="fas fa-gavel"></i> <a href="/home">Bail Reckoner</a></div>
    <div class="nav">
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/features">Features</a>
      <a href="/contact">Contact Us</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </div>
</nav>
</header>