<% layout("/layouts/boilerplate.ejs")%>
<body>
 
  <main>
    <section class="about mt-5">
      <div class="row m0 justify-content-center align-items-center">
       <div>
        <h1>About Bail Reckoner</h1>
        <p>
          The Bail Reckoner is designed to streamline the bail process for
          undertrial prisoners, legal aid providers, and judges. Our mission is to
          ensure that the bail process is transparent, efficient, and fair.
        </p>
        <h2>Our Mission</h2>
        <p>
          To make the bail process simpler, faster, and fairer through the use of
          technology and clear legal guidance.
        </p>
        <h2>Our Team</h2>
        <p>Abhijeet,Harshil,Atharva,Vishal,Prathmesh</p>
       </div>
      </div>
    </section>
  </main>

  <script src="scripts.js"></script>
</body>
