<% layout("/layouts/boilerplate.ejs")%>
<body>

    <main>
       <div class="feature">
        <section class="features mt-5 m0 justify-content-center align-items-center mt-5 mb-5">
            <h1>Features of Bail Reckoner</h1><br><br>
            <h4>For Undertrial Prisoners</h4>
            <p>Access detailed information on bail eligibility and the steps to apply for bail.</p>
            <h4>For Legal Aid Providers</h4>
            <p>Generate accurate bail applications and access case law references and procedural requirements.</p>
            <h4>For Judicial Authorities</h4>
            <p>Review bail applications quickly, access legal precedents, and assess risks effectively.</p>
        </section>
       </div>
    </main>


    <script src="scripts.js"></script>
</body>
</html>
