<% layout("/layouts/boilerplate.ejs")%>
<body>
    <link rel="stylesheet" href="/css/contact.css">
    <main>
        <section class="contact">
            <h1>Contact Us</h1>
            <form id="contact-form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submit">Send Message</button>
            </form>
            <section class="faq">
                <h2>FAQ</h2>
                <p><strong>Q:</strong> How does the Bail Reckoner work?<br><strong
