<% layout("/layouts/boilerplate.ejs")%>
<body>
  <main>
    <section class="login ">


        <div class="multilogin"></div>
            <form method="POST" action="/user">
                <h2>Login as User </h2>
                <button class="btn">Login here</button>
            </form>
        </div>

        <div class="multilogin"></div>
            <form method="POST" action="/lawyer">
                <h2>Login as Lawyer </h2>
                <button class="btn">Login here</button>
            </form>
        </div>

        <div class="multilogin"></div>
            <form method="POST" action="/judge">
                <h2>Login as Judge </h2>
                <button class="btn">Login here</button>
            </form>
        </div>

        <div class="multilogin"></div>
            <form method="POST" action="/Administrator">
                <h2>Login as Administrator </h2>
                <button class="btn">Login here</button>
            </form>
        </div>
    </section>
  </main>

  <script src="scripts.js"></script>
</body>
